<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <!-- Meta-Information -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The Mood App">
    <meta name="author" content="Viktor Kravchenko">
    <!--<link rel="icon" href="http://getbootstrap.com/favicon.ico">-->

    <title>Mood App</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ app_path }}/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ app_path }}/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- App-specific stylesheet -->
    <link href="{{ app_path }}/static/css/client-web.css" rel="stylesheet">
  </head>

  <body ng-app="MoodAppWebClient" ng-controller="ctrl" ng-class="animation">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" ng-controller="HeaderController">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ app_path }}">Mood App</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li ng-class="{ active: isActive('/')}"><a href="#!/">Home</a></li>
            <li ng-class="{ active: isActive('/anonymity')}"><a href="#!/anonymity">Anonymity</a></li>
            <li ng-class="{ active: isActive('/about')}"><a href="#!/about">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div ng-view class="view"></div>

    <!-- A footer will go here -->

    <!-- JavaScript
    =================================================
    App Settings: -->
    <script>
      var mood_app_path = "{{ app_path }}";
    </script>

    <!-- Libraries
    ================================================== -->
    <script src="{{ app_path }}/static/js/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ app_path }}/static/js/jquery.min.js"><\/script>')</script>
    <script src="{{ app_path }}/static/js/js-cookie.js"></script>
    <script src="{{ app_path }}/static/js/cookies-machine.js"></script>
    <script src="{{ app_path }}/static/js/bootstrap.min.js"></script>
    <script src="{{ app_path }}/static/js/angular.min.js"></script>
    <script src="{{ app_path }}/static/js/angular-route.min.js"></script>
    <script src="{{ app_path }}/static/js/angular-animate.min.js"></script>
    <script src="{{ app_path }}/static/js/angular-cookies.js"></script>
    <script src="{{ app_path }}/static/js/d3.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ app_path }}/static/js/ie10-viewport-bug-workaround.js"></script>

    <!-- Mood App Client -->
    <script src="{{ app_path }}/static/js/client-web.js"></script>
    <script src="{{ app_path }}/static/js/mood-gauge.js"></script>
    <script src="{{ app_path }}/static/js/bad-bars.js"></script>

    <div id="deploy-how-are-you-widget"></div><script>(function(d){ var js = d.createElement("script"); js.src = mood_app_path + "/static/how-are-you.js"; (d.head || d.getElementByTagName("head")[0]).appendChild(js); js.onload=function(){ votes_run(mood_app_path);  }; }(document)); </script>


</body></html>
